# Python
*.py[cod]
*$py.class

# Keep specific pycache file
!backend/routes/__pycache__/dashboard.cpython-313.pyc
backend/venv/
backend/.env
backend/.youtube.env
backend/utils/dataset_list/*
.venv/*

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Package locks
package-lock.json
dashboard/package-lock.json

# General
.env
*.log
.DS_Store
.idea/


# VM configs
backend/saas_config.py
/backend/pnpm-lock.yaml
/dashboard/pnpm-lock.yaml

config/.env
config/.env.development
config/.env.staging
