# Python
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/dataset_list/*
.venv/*

# Node
frontend/node_modules/
frontend/dist/

# Package locks
package-lock.json
dashboard/package-lock.json

# General
*.log
.DS_Store

# VM configs
backend/saas_config.py
